*.ini
*.txt
*.html
*.bat
*.sh
*.zip
*log
.well-known/
/img/graphics/about/src/
/img/graphics/download/src/
/img/graphics/landing/src/
/img/graphics/quickstart/src/
/img/graphics/rpcn/src/
/img/icons/arrows/src/
/img/meta/mobile/src/
/lib/compat/
blog/
cache/
forum/
update/
wiki/
